@import url("https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@700&family=Crete+Round:ital@1&family=Dosis:wght@500&family=Josefin+Sans:ital,wght@1,300&family=PT+Serif:ital,wght@1,700&family=Raleway&family=Rowdies:wght@700&family=Teko:wght@500;600&family=Work+Sans:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@700&family=Crete+Round:ital@1&family=Dosis:wght@500&family=Josefin+Sans:ital,wght@1,300&family=Noto+Sans:ital,wght@1,300&family=PT+Serif:ital,wght@1,700&family=Raleway&family=Rowdies:wght@700&family=Teko:wght@500;600&family=Work+Sans:wght@500&display=swap');
#footerelem li a {
  text-decoration: none;
}
* {
    padding: 0;
    margin: 0;
}
.font{
    font-family: "Anton", sans-serif;
  font-family: "Comfortaa", sans-serif;
  font-family: "Crete Round", serif;
  font-family: "Dosis", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Raleway", sans-serif;
  font-family: "Rowdies", sans-serif;
  font-family: "Teko", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.font1{

  color: #000;

font-family: Noto Sans;
font-size: 1.07rem;
font-style: normal;

font-weight: 1000;
line-height: normal;
}
.font2{
  color: #757575;

  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  letter-spacing: 0.05rem;
}

.majorcontainer {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.minorcontainer1 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 61em;
}

.logo1 {
  height: 9.5em;
    width: 45em;
  background-image: url('logonew.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}
 
.styf li:not(:first-child){
  cursor: pointer;
 }
 .styf li:first-child {
  font-size: 0.90em;
}


 .styf li:not(:first-child):hover{
  color: #000ed1;
 }



.navbar {
    width: 100%;
    background: #333;
    height: 4.5em;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  .container{
    display: none;
  }
  .btnstyle{
    width: 10em; display: flex; justify-content: center;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .newnav{

display: none;

  }
  .active1{
    margin-bottom: 1em;
    list-style: none;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
nav {
  background-color: #EAEBFE;
  padding-left: 4.5em;
  height: 4.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}
.navbar nav ul li a:hover{
    color: #5044EB;
}
.newnav ul li a:hover{
    color: #5044EB;
}
.newnav  ul li a{
    color: black;
    text-decoration: none;
}

/* Styles for the accordion effect */
.has-dropdown {
    position: relative;
  }
  .dropdown-content {
    padding-top: 4px;
    display: none;
    opacity: 0.9;
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: -21px;
    
    padding: 13px; /* Added padding for better styling */
    background-color: #fff; /* Changed background color to white */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px; /* Added border-radius for rounded corners */
    border: 1px solid #ddd; /* Added border for better visibility */
    transition: opacity 0.8s ease-in-out; /* Added transition for smoother opacity change */
  }
  .has-dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 14px; 
    white-space: nowrap;
    opacity: 1; /* Show dropdown with full opacity on hover */
  }
  .has-dropdown.active:hover .dropdown-content {
    display: none; /* Close the dropdown on hover out */
  }

.donate-button {
    display: flex;
    align-items: center;
    margin-right: 8em;
}

.donate-button button {
    background-color: #5044EB;
    color: #fff;
    border: none;
    padding: 10px 15px; 
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.donate-button button svg {
    width: 100px;
    height: 60px;
    margin-left: 5px;
}

.has-dropdown > a > i {
    transition: transform 0.3s ease-in-out;
}

.has-dropdown.active > a > i {
    transform: rotate(180deg);
}

.pic {
    width: 100%;
    height: 21em;
    margin-top: 0rem;
    background-image: url('../hands.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.picopacity {
    width: 100%;
    height: 21em;
    margin-top: 0rem;
    background-color: rgba(0, 0, 0, 0.4); /* Use RGBA color to set background opacity */
    position: relative;
}

.pictext {
    position: absolute;
   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff !important; /* Change text color to white */
    margin-top: 1em;
}

.pictext h2 {
    font-size: 3em;
    font-weight: bolder;
    
}


.nextsection {
    display: flex;
    margin-top: 3rem;
    width: 100%;
    height: 70em;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    margin-bottom: -10em;
  }
  
 .leftsection{
    width: 50%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    left: -81em; 
    position: relative;
    opacity: 0;
    transition: left 1.5s, opacity 0.75s;
 }
 .photo1{
    background-image: url(image11.jpg);
    background-size: cover;
    background-position: center;
    width: 23rem;
    height: 30rem;
    border-radius: 17px;
    margin-right: 1em;
    margin-top: 1em;
    position: relative;
    left: 2em;
    right: 9em;
    z-index: 1;
    margin-bottom: 6rem;
    top: -3em;
 }
 
 .photo2{
    background-image: url(image22.jpg);
    background-size: cover;
    background-position: center;
    width: 18rem;
    height: 14rem;
    border-radius: 17px;
    margin-right: 1em;
    margin-top: 1em;
    z-index: 1;
    margin-bottom: 6rem;
    position: relative;
    top: -46em;
    left: 11em;
    border: 2px solid rgb(255, 255, 255);
    outline: 1px solid rgb(0, 0, 0);
 }
 .rect{
    background: #5044EB;
    border-radius: 34px;
    height: 11rem;
    width: 16rem;
    position: relative;
    top: 34em;
    left: -5em;
 }
 .rightsection{
    width: 50%;
    background: #ffffff;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    flex-direction: column;
    gap: 1.5em;
    padding-left: 1em;
    padding-top: 6em;
 }
 .about{
 width: 100%;
 text-align: left;
 margin-bottom: -2em;
 color: blue;
    font-weight: 500;
    font-weight: bold;
 }
 .half-underline {
    display: inline-block;
  
    position: relative;
  }
 
  .half-underline::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12%;
    height: 2px;
    background-image: linear-gradient(
      to right,
      #000ed1,
      #3400f1 50%,
      transparent 50%,
      transparent
    );
  }
 .txt{
    width: 100%;
    text-align: left;
    font-size: 1.05em;
    color: grey;
    
 }
 .font3{
  color: #000;

font-family: Noto Sans;
font-size: 1rem;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 0.05rem;
 }

 .head{
    font-size: 2.2em;
    font-weight: bolder;
    color: #000000;

    width: 100%;
    text-align: left;
 }
 /*css for new div */ 


 .bluebreaker{
    width: 100%;
    margin-top: -7rem;
    height: 20rem;
    margin-bottom: 2em;
  z-index: 3;
    background: #EAEBFE;
 }
 .bb{
    display: flex; justify-content: center; align-items: center; gap: 7.3em;
 }
 .cont{
    display: flex; flex-direction: column ; justify-content: center; align-items: center; gap: 1em; height: 15em;
 }
 .linee {
    height: 29%;
    width: 5px;
    background: #5044eb;
    border-radius: 30px;
  }
  .text2 {
    color: #757575;
    font-size: larger;
    text-align: center;
  }

  .section{
    height: 10em;
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: left;
   padding-left: 2.5em;
    gap: 2em;
    right: 0em;
    z-index: 2;
    opacity: 0;
  transition: bottom 1.7s, opacity 0.5s;
    padding-top: 1.5em;
    margin-top: 2em;
    background: #EAEBFE;
    border-radius: 14px;
   
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  }
  .l1{
    background: rgb(255, 20, 20);
    height: 3em;
    width: 3em;
    margin-top: 2em;
  }

  /*css for new div */ 


  .breaker{
    width: 100%;
    height: 17rem;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-bottom: 4em;
    
    padding: -2em 1em 1em 1em ;
  }
  .recdiv{
   
    text-align: left;
    height: 10em ;
    width: 13em;
    z-index: 1;
    
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .b1{
    background-image: url('brand1.png');
    background-size:12.5em;
    background-position: center;

  }
  .b2{
    background-image: url('brand2.png');
    background-size:13em;
    background-position: center;

  }
  .b3{
    background-image: url('brand3.png');
    background-size:13em;
    background-position: center;

  }
  .b4{
    background-image: url('brand6.png');
    background-size:13em;
    background-position: center;

  }
.circle{
    border-radius: 50%;
    position: relative;
    background: #000ed1;
    height: 4em;
    width: 4em;
    left: 2em;
    bottom: 2em;

}
/*Footer css  */ 
.styled-button {
  z-index: 2;
    margin-top: 1rem;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 4em;
    width: 12%;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #5044eb;
    font-family: "Anton", sans-serif;
    font-family: "Comfortaa", sans-serif;
    font-family: "Crete Round", serif;
    font-family: "Dosis", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "PT Serif", serif;
    font-family: "Raleway", sans-serif;
    font-family: "Rowdies", sans-serif;
    font-family: "Teko", sans-serif;
    font-family: "Work Sans", sans-serif;
  
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }
  .styled-button:hover {
    background-color: #007bff;
    color: #ffffff;
  }
 
.t {
    margin-top: 2.5em;
    font-size: 1.9em;
    width: 100%;
    z-index: 2;
    font-weight: 900;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: "Anton", sans-serif;
    font-family: "Comfortaa", sans-serif;
    font-family: "Crete Round", serif;
    font-family: "Dosis", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "PT Serif", serif;
    font-family: "Raleway", sans-serif;
    font-family: "Rowdies", sans-serif;
    font-family: "Teko", sans-serif;
    font-family: "Work Sans", sans-serif;
  }
  .secbf{
   
    width: 80%;
    min-height: 15em;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    background: #5044EB;
    z-index: 1;
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    top:5em;
    left: 0em;
}
.circle1{
    position: absolute;
    top: 6em;
    min-height: 14em;
    width: 14em;
    left: -6em;
    background: #ddddfc;
    border-radius: 50%;
    z-index: 1;
}
.circle2{
    position: absolute;
  top: 5em;
  min-height: 16em;
  width: 16em;
  left: -7em;
  opacity: 0.7;
  background: #ddddfc;
  border-radius: 50%;
    
}
.circle3{
    position: absolute;
  top: -6em;
  min-height: 16em;
  width: 24em;
  left: 56em;
  background: #ddddfc;
  border-radius: 50%;
    
}
.circle4{
    position: absolute;
    top: -6em;
    opacity: 0.7;
    min-height: 17em;
    width: 24em;
    left: 54em;
    background: #ddddfc;
    border-radius: 50%;
    
}
#footerelem li:not(:first-child) a:hover {
    color: #5044EB;
}
.footer{
    width: 100%;
    max-height: 29em;
    background: #EAEBFE;
    
    padding-top: 3.5em;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside{

    background: #EAEBFE;
    height: 32em;
    width: 63%;
    margin-bottom: 2em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.leftside{
    background: #EAEBFE;
    height: 32em;
    width: 30%;
    margin-top: 2em;
    margin-left: 2em;
    display: flex;
    padding-left: 2em;
    padding-top: 8em;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 2em;
    gap: 1em;
    margin-top: 2em;
}
.styf{
    font-size: 1.1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: start;
}
.st{
    display: flex;
    gap: 8em;
    height: 14em;
    justify-content: start;
}
.subscription-box {
    text-align: center;
}


input[type="email"] {
    padding: 10px;
    width: 200px;
    color: #000000;
    font-weight: bold;
    box-sizing: border-box;
    margin-right: 0;
}

button {
    padding: 10px;
    cursor: pointer;
    background: #5044EB;
    color: white;
    border: 5px;
    width: 9em;
    height: 3em;
}
.logo11{
    
    height: 10em;
    width: 10em;
    background-image: url('image.png');
    background-size: cover;
    background-position: center;


}
.logo2{
    background-image: url('logo2.jpeg');
    background-size: cover;
    background-position: center;

    height: 6em;
    width: 21em;
}
.footerextended{
    width: 100%;
    font-size: small;
    font-weight: 200;
    min-height: 3em;
    background: #EAEBFE;
}
hr {
    margin-left: 2em;
    border: 1px solid black; 
    margin-bottom: 0.35em;
    width: 90%;
}
/*media query begins   */ 




@media (max-width: 800px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .pic{
        width: 100%;
        height: 25em;}
        .minorcontainer1{
            height: 55em;
        }
        .picopacity {
            width: 100%;
            height: 25em;}
}

@media (max-width : 1280px) {
    .logo1{
        height: 8em;
    width: 36em;
    }
    .donate-button{
        margin-left: 12rem;    }
}
 


@media (max-width : 1090px) {
    .logo1{
        height: 6em;
    width: 33em;
    }
    .donate-button{
        margin-left: 0rem;    }
        .photo1{
            margin-right: 3em;
        }
}
@media (max-width : 1800px) {
    .circle3{
        top: -6em;
    left: 52em;
    }
    .circle4{
        top: -6em;
    left: 51em;
    }
    
}

@media (max-width : 600px) {
    .logo1{
        height: 4em;
    width: 22em;
    }
    .circle3{
        top: -6em;
        left: 30em;
    }
    .circle4{
        top: -6em;
        left: 29em;
    }
}
@media (max-width : 800px) {
  .newnav{
   z-index: 2;
    height: 25em;
    background: #EAEBFE;
    width: 100%;
    display: flex;
    gap: 2em;
    position: absolute;
    top: 9em;
    left: 0;
    transition: left 0.3s ease;
    justify-content: center;
    align-items: center;
    list-style: none;
    
      }
   .navbar{
    height: 4em;
    width: 100%;
   }
   .active11{
    display: none;
   }
   .container{
    display: block;
   }
   nav{
    justify-content: start;
    padding-left: 1em;
    align-items: center;
    height: 4.5rem;
    gap: 1em;
    flex-direction: row;
    padding-right: 0;
   }
   .minorcontainer1 {
    height: 54em;
   }
  
   nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-top: 16px;
}
   .donate-button {
    display: flex;
    justify-content: center;
    margin-right: 3em;
    margin-top: 1em;
    
}
.font111{

  color: #000;

font-family: 'Noto Sans';
font-size: 1.07rem;
font-style: normal !important;

font-weight: 400;
line-height: normal;
}
.font1111{

  color: #000;

font-family: 'Noto Sans';
font-size: 1.22rem;
font-style: normal !important;

font-weight: 400;
line-height: normal;
}
.font11111{
  color: #000;

  font-family: 'Noto Sans';
  font-size: 2.22em;
  font-style: italic !important;
  
  font-weight: 400;
  line-height: normal;

}
.nextsection{
    height: 100em ;
    display: flex;
    flex-direction: column;
}
.rightsection{
    width: 100%;
}
.leftsection{
    width: 100%;
    justify-content: center;
}

.txt , .head , .about {
    text-align: center;
}
.half-underline::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 23rem;
    width: 12%;
    height: 2px;
    background-image: linear-gradient( to right, #000ed1, #3400f1 50%, transparent 50%, transparent );
}
.bb{
    flex-direction: column;
    gap: 4em;
    margin-bottom: 2rem;
}
.bluebreaker{
    height: 84em;
}
.linee{
    width: 29%;
    height: 1em;
}
.section{
    flex-direction: column;
    align-items: center;
    margin: 1em;
}
.photo1{
    margin-right: 7em;
}
.footer{
    flex-direction: column;
    min-height: 84em;
}
.leftside{
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
}
.rightside{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50em;
}
.st{
    flex-direction: column;
    height: 85em;
    justify-content: center;
    align-items: center;
    gap: 5em;
   
}
.footerextended{

    display: block;
}
.styf{
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.breaker{
    flex-direction: column;
    height: 80em;
    margin-bottom: 3em;
}
.recdiv{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.circle{
    height: 1px;
    width: 1px;
}
.secbf{
    top: 5em;
}
.circle3{
    top: -6em;
    left: 30em;
}
.circle4{
    top: -6em;
    left: 29em;
}
.donate-button{
    margin-bottom: 1em;
}
}

/* New css for brands div */ 

.group-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 90rem;
    height: 22.5rem;
    object-fit: cover;
  }
  .home {
    position: relative;
  }
  .home-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
  }
  .office-bearers {
    position: relative;
    font-size: 3.5rem;
    font-family: Inter;
    text-align: center;
  }
  .frame-parent {
    position: absolute;
    top: calc(50% - 53px);
    left: calc(50% - 197px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
  .rectangle-parent {
    
    position: relative;
    width: 100%;
    height: 22.5rem;
    text-align: left;
    font-size: 1rem;
    color: #fff;
    font-family: "Noto Sans";
  }
  .frame-child {
    border-radius: 16px;
    width: 24rem;
    height: 27.69rem;
    object-fit: cover;
  }
  .frame-child,
  .president,
  .sanobar-ali-qureshi {
    position: relative;
  }
  .president {
    font-size: 1.25rem;
  }
  .sanobar-ali-qureshi-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.38rem;
  }
  .advocate-practicing-in {
    position: relative;
    font-size: 1rem;
    line-height: 150%;
    color: #757575;
    display: inline-block;
    width: 24rem;
  }
  .frame-container,
  .rectangle-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.75rem;
  }
  .rectangle-parent {
    align-items: flex-end;
    gap: 1.5rem;
  }
  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    width: 24rem;
    height: 27.69rem;
    object-fit: cover;
  }
  .view-profile {
    position: relative;
    line-height: 100%;
    font-weight: 500;
  }
  .view-profile-wrapper {
    position: absolute;
    top: 23.19rem;
    left: 2.5rem;
    border-radius: 8px;
    background-color: #5044eb;
    width: 19rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
  }
  .rectangle-group {
    position: relative;
    width: 24rem;
    height: 27.69rem;
  }
  .frame-div,
  .frame-group,
  .group-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-div {
    flex-direction: column;
    gap: 0.75rem;
    font-size: 1.5rem;
    color: #000;
  }
  .frame-group,
  .group-parent {
    gap: 1.5rem;
  }
  .group-parent {
    flex-direction: column;
    font-size: 1rem;
    color: #fff;
  }
  .frame-group {
    flex-direction: row;
  }
  .frame-parent,
  .moin-khaleel-qureshi-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.38rem;
  }
  .frame-parent {
    position: relative;
    width: 100%;
    align-items: flex-start;
    gap: 3.69rem;
    text-align: left;
    font-size: 1.5rem;padding-left: 0em;
    color: #000;
    font-family: "Noto Sans";
  }
 /* New css */  
 .frame-icon,
.group-child {
  position: absolute;
  top: 0;
  height: 14.5rem;
}
.group-child {
  left: 0;
  background-color: #f5f5f5;
  width: 90rem;
}
.frame-icon {
  left: 68.69rem;
  width: 24rem;
  overflow: hidden;
}
.our-trusted-partner {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 120%;
  display: inline-block;
  width: 17.63rem;
  flex-shrink: 0;
}
.mask-group-icon {
  position: relative;
  width: 7.5rem;
  height: 3rem;
  object-fit: cover;
}
.mask-group-icon1,
.mask-group-icon2,
.mask-group-icon3 {
  position: relative;
  width: 16.32rem;
  height: 3rem;
  object-fit: cover;
}
.mask-group-icon2,
.mask-group-icon3 {
  width: 9.38rem;
}
.mask-group-icon3 {
  width: 14.19rem;
}
.mask-group-parent,
.our-trusted-partner-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}
.our-trusted-partner-parent {
  position: absolute;
  top: 5rem;
  left: 7.5rem;
  align-items: center;
  gap: 1.5rem;
}
.rectangle-parent {
  position: relative;
  width: 100%;
  height: 14.5rem;
  text-align: left;
  font-size: 2.25rem;
  color: #000;
  font-family: "Product Sans";
  margin-bottom: 5em;
}
/* brands media query*/ 
@media (min-width: 1600px) {
  .group-child {
    width: 95em;
  }
  .frame-icon {
    left: 87.69rem;
  }
  .mask-group-parent,
  .our-trusted-partner-parent {
    gap: 3em;
  }
}

@media (min-width: 1800px) {
  .group-child {
    width: 95em;
  }
  .frame-icon {
    left: 100.69rem;
  }
  .mask-group-parent,
  .our-trusted-partner-parent {
    gap: 4em;
  }
}
@media (min-width: 1200px) {
  .group-child {
    width: 95em;
  }
  .frame-icon {
    left: 66.69rem;
  }
  .mask-group-parent,
  .our-trusted-partner-parent {
    gap: 1.1em;
  } 
  .our-trusted-partner-parent {
    gap: 0.3em;

  }
}
@media (max-width: 900px) {
  .our-trusted-partner-parent {
    position: absolute;
    top: 2rem;
    left: 9.5rem;}
  .group-child {
    width: 95em;
  }
  .frame-icon {
    left: 66.69rem;
    display: none;
  }
  .mask-group-parent,
  .our-trusted-partner-parent {
    gap: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-trusted-partner-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

  }
  .group-child{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .rectangle-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11em;
  }
  .frame-icon, .group-child { height: 13em;}
  .our-trusted-partner-parent { margin-left: 3.5em;
   
 text-align: center;}
}
@media (max-width: 600px) {
  .our-trusted-partner-parent { margin-left: 1em;
    }
    .our-trusted-partner-parent {
      position: absolute;
      top: 2rem;
      left: 7.5rem;}
  }

@media (max-width: 500px) {
  .our-trusted-partner-parent { margin-right: 2em;
    }

}
/*Middle part css */
.middle{
    width: 100%;
    min-height: 67em;
    background: #ffffff;
    margin-bottom: 5em;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;

}
.row{
 min-height: 30em;
 width: 100%;
 background: rgb(255, 255, 255);
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}
.unitimage{
    min-height: 20em;
    width: 17.4em;
    border-radius: 15px;
    background: #000;
    position: relative;
    
}
.unit{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    justify-content: left;
    background: center;

    
    height: 25em;
    width: 17.5em;
    margin-left: 2.5em;
    margin-top: 2em;
}
.profilebtn {
  display: none;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.unitimage:hover .profilebtn {
  display: block;
  opacity: 1;
}
.profilebtn{
  position: absolute;
  color: #ffffff;

font-family: Noto Sans;
font-size: 1.07rem;
font-style: normal;
  font-size: 1em;
  font-weight: 600;
  width: 14em;
  border-radius: 7px;
  bottom: 10px; 
            left: 50%; 
            transform: translateX(-50%); 
}
.stylenew{
    color: #181818;


    font-family: Noto Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    
    line-height: normal;
    
}
.headfont{
    color: #000;

text-align: center;
font-family: Noto Sans;
font-size: 1.5rem;
font-style: normal;
font-weight: 900;
font-style: normal;
font-weight: bolder;
line-height: normal;
}
.headfont1{
    color: #000;
font-style: italic;
text-align: center;
font-family: 'Noto Sans';
font-size: 1rem;
font-style: normal;
font-weight: 400;

line-height: normal;
}

/* Media query for the middle part */

@media screen and (max-width: 400px) {
  .middle{
    min-height: 217em;
  }
  .flex-container-home {
    height: 33em !important;
    top: -31em !important;
}
  .box-home{
    margin-bottom: 5em !important;
  }
  .rect {
    height: 10rem;
    width: 11rem;
    position: relative;
    top: 25em;
    left: -6em;
}
.photo1 {
  width: 13rem;
  height: 25rem;
  left: 4em;
  right: 9em;
  top: -11em;
  top: -7em;
}
  .photo2 {
    width: 11rem;
    height: 9rem;
    top: -46em;
    left: 6em;
}
.blc{
  width: 385px !important;
}
.leftside{
    margin-bottom: -2em;
  }
 
}
@media screen and (min-width: 401px) and (max-width: 500px) {
  .middle{
    min-height: 222em;
  }
  .flex-container-home {
    height: 51em !important;
    top: -11em !important;
}
  .box-home{
    margin-bottom: 5em !important;
  }
  .rect{
    height: 12rem;
    width: 14rem;
    position: relative;
    top: 35em;
    left: -6em;
  }
  .photo1{
    width: 19rem;
    height: 27rem;
    left: 2em;
    right: 9em;
    top: 1em;
  }
  .photo2{
    width: 16rem;
    height: 12rem;
    top: -42em;
    left: 6em;
  }
  .blc{
    width: 385px !important;
  }
  .review-insider {
    
    width: 77% !important;
    height: 108% !important;
    gap: 10px !important;}
    .review-container{
      width: 96%;
    }
    .leftside{
        margin-bottom: -2em;
      }
}


@media screen and (min-width: 501px) and (max-width: 600px) {
  .middle{
    min-height: 222em;
  }
  .flex-container-home {
    height: 33em !important;
    top: -5em !important;
}
  .box-home{
    margin-bottom: 5em !important;
  }
  .rect{
    height: 12rem;
    width: 14rem;
    position: relative;
    top: 37em;
    left: -6em;
  }
  .photo1{
    width: 19rem;
    height: 27rem;
    left: 4em;
    right: 9em;
    top: 4em;
  }
  .photo2{
    width: 16rem;
    height: 12rem;
    top: -38em;
    left: 5em;
  }
  .review-insider {
    
    width: 82% !important;
    height: 95% !important;
    gap: 10px !important;}
    .review-container{
      width: 89%;
    }
    .leftside{
        margin-bottom: -2em;
      }
  
}


@media screen and (min-width: 601px) and (max-width: 639px) {
  .middle{
    min-height: 222em;
  }
  .flex-container-home{
    height: 14em !important;
    top: -20em !important;

  }
  .box-home{
    margin-bottom: 5em !important;
  }
  .rect{
    height: 12rem;
    width: 14rem;
    position: relative;
    top: 32em;
    left: -8em;
  }
  .photo1{
    width: 19rem;
    height: 27rem;
    left: 2em;
    right: 9em;
   
    top: -3em;
  }
  .photo2{
    width: 16rem;
    height: 12rem;
    top: -46em;
    left: 8em;
  }
  .leftside{
    margin-bottom: -2em;
  }
  
}


@media screen and (min-width: 640px) and (max-width: 800px) {
  .middle{
    min-height: 110em;
  }
  .flex-container-home{
    height: 73em !important;
    top: -8em !important;

  }
  .box-home{
    margin-bottom: 5em !important;
  }
  .rect{
    height: 12rem;
    width: 14rem;
    position: relative;
    top: 35em;
    left: -11em;
  }
  .photo1{
    width: 19rem;
    height: 27rem;
    left: 2em;
    right: 9em;
    top: -1em;
  }
  .photo2{
    width: 16rem;
    height: 12rem;
    top: -44em;
    left: 11em;
  }
  .leftside{
    margin-bottom: -2em;
  }
 
}
@media screen and (min-width: 801px) and (max-width: 900px) {
  .middle{
    min-height: 109em;
  }
  .flex-container-home{
    height: 20em !important;
    top: -10em !important;

  }
  .box-home{
    margin-bottom: 5em !important;
  }
  .rect{
    height: 12rem;
    width: 14rem;
    position: relative;
    top: 33em;
    left: -5em;
  }
  .photo1{
    width: 19rem;
    height: 27rem;
    left: 1em;
    right: 7em;
    top: 0em;
  }
  .photo2{
    width: 16rem;
    height: 12rem;
    top: -44em;
    left: 4em;
  }
  .leftside{
    padding-left: 0em;
    margin-left: 0em;
    margin-bottom: 4em;
  }
  .st{
    gap: 2em;
  }
  .subscription-box {
    text-align: left;}
 
}
@media screen and (min-width: 901px) and (max-width: 1000px) {
  .middle{
    min-height: 109em;
  }
  .flex-container-home{
    height: 20em !important;
    top: -10em !important;

  }
  .box-home{
    margin-bottom: 5em !important;
  }
  .rect{
    height: 12rem;
    width: 14rem;
    position: relative;
    top: 31em;
    left: -5em;
  }
  .photo1{
    width: 19rem;
    height: 27rem;
    left: 2em;
    right: 9em;
    top: -3em;
  }
  .photo2{
    width: 16rem;
    height: 12rem;
    top: -44em;
    left: 7em;
  }
  .leftside{
    padding-left: 0em;
    margin-left: 0em;
    margin-bottom: 4em;
  }
  .st{
    gap: 2em;
  }
  .subscription-box {
    text-align: left;}
 
}
@media screen and (min-width: 900px) and (max-width: 1100px) {
    .our-trusted-partner-parent {
        position: absolute;
        top: 3rem;
        left: 2.5rem;
        align-items: center;
        gap: 2rem;
        display: flex;
        flex-direction: column;
    }
    .our-trusted-partner {
        
        min-width: 29.629999999999995rem;}
        .rectangle-parent {
            
            text-align: center;}

}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
    .our-trusted-partner-parent {
        position: absolute;
        top: 3rem;
        left: 7.5rem !important;
        align-items: center;
        gap: 3rem;
        display: flex;
        flex-direction: column;
    }
    .our-trusted-partner {
        
        min-width: 29.629999999999995rem;}
        .rectangle-parent {
            
            text-align: center;}

}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .middle{
    min-height: 109em;
  }
  .rect{
    height: 12rem;
    width: 14rem;
    position: relative;
    top: 31em;
    left: -5em;
  }
  .photo1{
    width: 19rem;
    height: 27rem;
    left: 2em;
    right: 9em;
    top: -3em;
  }
  .photo2{
    width: 16rem;
    height: 12rem;
    top: -44em;
    left: 7em;
  }
  .leftside{
    padding-left: 0em;
    margin-left: 1em;
  }
  
}
 

@media screen and (min-width: 1201px) and (max-width : 1400px){
  .middle{
    min-height: 57em;
  }
 
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
  
}


@media screen and (min-width: 1601px) {
  .unit {
    margin-left: 3.7em;
  }
  
}
/* Media query for other elements */
@media screen and (max-width: 299px) {
  .our-trusted-partner-parent {
    position: absolute;
  
    left: -3.5rem;
  }
  .rectangle-parent{
    margin-bottom: 14em;
  }
  .styled-button{
    width: 30%;
    
  }
  .secbf{
    min-height: 17em;
  }
  .blocs{
    flex-direction: column !important;
    height: 97em !important;
  }
  .nextsection{
    margin-bottom: 11em;
  }
  .rightsection{
    justify-content: center;
    align-items: center;
  }
  .bb{
    margin-bottom: 20em;
  }
  .cause-container{
    height: 116em !important;
  }
  .headin , .para{
    text-align: center !important;
   }
}


@media screen and (min-width: 200px) and (max-width: 400px) {
  .our-trusted-partner-parent {
    position: absolute;
  
    left: 1.5rem;
  }
  .styled-button{
    width: 20%;
    
  }
  .text-home1{
    top: 12% !important;
    font-size: 0.40em !important;
   }
   .text-home1 h3{
    font-size: 25px !important;
   }
   .blocs{
    flex-direction: column !important;
    height: 97em !important;
  }
  .nextsection{
    margin-bottom: 11em;
  }
  .rightsection{
    justify-content: center;
    align-items: center;
  }
  .bb{
    margin-bottom: 6em;
  }
  .cause-container{
    height: 116em !important;
  }
  .section{
    padding-left: 0em !important;
    width: 19em !important;
   }
   .headin , .para{
    text-align: center !important;
   }
}



@media screen and (min-width: 401px) and (max-width: 500px) {
  .styled-button{
    width: 20%;
    
  } .our-trusted-partner-parent {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
  }
  .minorcontainer1 {
    height: 34em;
  }
  .text-home1{
    top: 26% !important;
    font-size: 0.40em !important;
   }
   .text-home1 h3{
    font-size: 35px !important;
   }
   .blocs{
    flex-direction: column !important;
    height: 97em !important;
  }
  .nextsection{
    margin-bottom: 11em;
  }
  .rightsection{
    justify-content: center;
    align-items: center;
  }
  .bb{
    margin-bottom: 7em;
  }
  
  .cause-container{
    height: 116em !important;
  }
  .section{
    padding-left: 0em !important;
    width: 20em !important;
   }
   .review-insider {
    
    width: 79% !important; }
    .headin , .para{
      text-align: center !important;
     }
     .review-container{
      width: 94% !important;
     }
}
@media screen and (min-width: 501px) and (max-width: 600px) {
  .styled-button{
    width: 20%;
    
  } .our-trusted-partner-parent {
    position: absolute;
    top: 2rem;
    left: 4.5rem;
  }
  .minorcontainer1 {
    height: 34em;
  }
  .text-home1{
    top: 43% !important;
    font-size: 0.40em !important;
   }
   .text-home1 h3{
    font-size: 40px !important;
   }
   .blocs{
    flex-direction: column !important;
    height: 97em !important;
  }
  .nextsection{
    margin-bottom: 11em;
  }
  .rightsection{
    justify-content: center;
    align-items: center;
  }
  .bb{
    margin-bottom: 9em;
  }
  .cause-container{
    height: 116em !important;
  }
  .section{
    padding-left: 0em !important;
    width: 22em !important;
   }
   .headin , .para{
    text-align: center !important;
   }
}


@media screen and (min-width: 601px) and (max-width: 700px) {
  .our-trusted-partner-parent {
    margin-left: 0.5em;}
    .text-home1{
      top: 25% !important;
      font-size: 0.40em !important;
     }
     .text-home1 h3{
      font-size: 55px !important;
     }
     .blocs{
      flex-direction: column !important;
      height: 97em !important;
    }
    .nextsection{
      margin-bottom: 11em;
    }
    .rightsection{
      justify-content: center;
      align-items: center;
    }
    .bb{
      margin-bottom: 8em;
    }
    .cause-container{
      height: 116em !important;
    }
    .section{
      padding-left: 1em !important;
      width: 23em !important;
     }
     .headin , .para{
      text-align: center !important;
     }
 
}
@media screen and (min-width: 701px) and (max-width: 800px) {
  .our-trusted-partner-parent {
    margin-left: 3.5em;}
    .blocs{
      flex-direction: column !important;
      height: 97em !important;
    }
    .nextsection{
      margin-bottom: 11em;
    }
    .rightsection{
      justify-content: center;
      align-items: center;
    }
    .bb{
      margin-bottom: 6em;
    }
    .cause-container{
      height: 116em !important;
    }
 .text-home1{
  top: 35% !important;
  font-size: 0.50em !important;
 }
 .section{
  padding-left: 1em !important;
  width: 25em !important;
 }
 .headin , .para{
  text-align: center !important;
 }
 .blc{
  gap: 21px !important;
 }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
  .our-trusted-partner-parent {
    position: absolute;
    top: 2rem;
    left: 9.5rem;}
    .frame-icon {
      left: 47.7rem;}
      .st {
        
        gap: 0.5em;}
        nav {
          background-color: #EAEBFE;
          padding-left: 1.5em;}
          .btnstyle{
            width: 7em;
           }
           .text-home1{
            top: 40% !important;
            font-size: 0.70em !important;
           }
           #buttonstart {
            width: 6em !important; 
           }
           nav {
            background-color: #EAEBFE;
            padding-left: 4em !important;}
            .btnstyle{
              width: 7em;
             }
             nav ul li{
              margin-right: 18px !important;
             }
             nav {
              gap: 0em !important;
             }
             
}
#buttonstart{
    width: 10em; display: flex; justify-content: center;
}
@media screen and (min-width: 901px) and (max-width: 1000px) { 
  .text-home1{
    top: 40% !important;
    font-size: 0.70em !important;
   }

}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .our-trusted-partner { width: 15.6rem;}
  .our-trusted-partner-parent {
    
    left: 2.5rem; }
    .mask-group-parent, .our-trusted-partner-parent {
     
      gap: 1rem;
    }
    .frame-icon{
      left: 60rem;
    }
    nav{
        gap: 0em;
    }
  
} 
 

@media screen and (min-width: 1201px) and (max-width : 1400px) {
  .our-trusted-partner-parent {
    position: absolute;
    top: 5rem;
   left: 5.5rem;
 
}}
@media screen and (min-width: 1401px) and (max-width: 1600px) {

  .frame-icon {
    left: 79.7rem;
  }
  .our-trusted-partner-parent {
   
    left: 11.5rem; }

}


@media screen and (min-width: 1601px){
  .our-trusted-partner-parent {
    
    left: 18.5rem;}
    .frame-icon {
      left: 83.7rem; 
    }
    .circle3{
    left: 65em;
    
    }
    .circle4{
      left: 64em;
      
      }

}
  
    /* HOme page css */
    .carousel-container-home {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 35em;
      }
  
      .carousel-home {
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
  
      .carousel-home img {
        flex: 0 0 100%; 
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .arrow-home {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2em;
        color: white;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
      }
  
      .arrow-left-home {
        left: -3em;
        z-index: 2;
      }
  
      .arrow-right-home {
        right: -3em;
        z-index: 2;
      }
      .flex-container-home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 46em;
        gap:2.3em;
        position: relative;
        top: -5em;
      }
  
      .box-home {
        width: 14em;
        height: 9em;
        background-color: #EAEBFE; 
        border-radius: 20px; 
        margin: 5px; 
        
      }
  .circle-home{
    height: 8em;
    width: 8em;
    border-radius: 50%;
    
    position: relative;
    top: -3em;
    left: 3.1em;
    overflow: hidden; 
     
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  }
  .circle-image1{
    background-image: url('rectangle-200@2x.png');
  }
  .circle-image2{
    background-image: url('rectangle-2001@2x.png');
  }
  .circle-image3{
    background-image: url('rectangle-2002@2x.png');
  }
  .circle-image4{
    background-image: url('rectangle-2003@2x.png');
  }
  .text-home{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    left: 0rem;
    top: -2rem;
  }

  /* next */
  .cause-container {
    width: 100%;
    height: 43em;
    margin-bottom: 5em;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
  }
  .hed {
    font-size: 1.2em;
    font-weight: bolder;
    cursor: pointer;
  }
  .underrline-text {
    position: relative;
    display: inline-block;
    font-family: "Anton", sans-serif;
    font-family: "Comfortaa", sans-serif;
    font-family: "Crete Round", serif;
    font-family: "Dosis", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "PT Serif", serif;
    font-family: "Raleway", sans-serif;
    font-family: "Rowdies", sans-serif;
    font-family: "Teko", sans-serif;
    font-family: "Work Sans", sans-serif;
  }
  .underrline-text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    height: 2px;
    background-color: #3498db;
    transition: width 0.3s ease;
  }
  .underrline-text:hover::before {
    width: 100%;
  }
  .blocs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    
    width: 77%;
    height: 25em;
  }
  .blc {
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 3.6px;
    height: 100%;
    width: 420px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    display: flex;
  }
  .ph {
    width: 100%;
    background-image: url("book.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 30px;
  }
  #footerelem li a {
    color: #000;

font-family: 'Noto Sans';
font-size: 1.07rem;
font-style: normal !important;

font-weight: 400;
line-height: normal;


  }
  #footerelem li a:not(:first-child):hover {
    color: #5044EB;
  }
  .headin {
    width: 100%;
    color: #000000;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Anton", sans-serif;
    font-family: "Comfortaa", sans-serif;
    font-family: "Crete Round", serif;
    font-family: "Dosis", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "PT Serif", serif;
    font-family: "Raleway", sans-serif;
    font-family: "Rowdies", sans-serif;
    font-family: "Teko", sans-serif;
    font-family: "Work Sans", sans-serif;
  }
  .para {
    width: 100%;
    color: #757575;
    opacity: 0.9;
  }
  .bh {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 12px;
    font-weight: bolder;
    font-family: "Anton", sans-serif;
    font-family: "Comfortaa", sans-serif;
    font-family: "Crete Round", serif;
    font-family: "Dosis", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "PT Serif", serif;
    font-family: "Raleway", sans-serif;
    font-family: "Rowdies", sans-serif;
    font-family: "Teko", sans-serif;
    font-family: "Work Sans", sans-serif;
  }
  .loading-bar {
    width: 90%;
  }
  .loading-bar {
    height: 5px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
  }
  
  .fill {
    height: 100%;
    background-color: #3400f1;
    width: 60%;
  }
  .ph1 {
    width: 100%;
    background-image: url("health.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 30px;
  }
  .ph2 {
    width: 100%;
    background-image: url("matri.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 30px;
  }
  /* next next */
  .opinion-container {
    width: 100%;
    position: relative;
    height: 750px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
  }
  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 18em;
    left: 46em;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    z-index: 3;
    
    color: #ffffff;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
  }
  
  .left-arrow::before,
  .right-arrow::before {
    content: ''; /* Empty content for pseudo-element */
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .left-arrow::before {
    border-width: 15px 25px 15px 0; /* Adjust values to create the arrow shape */
    border-color: transparent #000000 transparent transparent; /* Adjust the color */
  }
  
  .right-arrow::before {
    border-width: 15px 0 15px 25px; /* Adjust values to create the arrow shape */
    border-color: transparent transparent transparent #000000; /* Adjust the color */
  }
  
  .left-arrow {
    left: 150px;
  }
  
  .right-arrow {
    right: 0em;
  }
  .donate-button button:hover {
    background-color: #44d8eb; }

  .review-container {
    position: relative;
    overflow: hidden;
    background: rgb(255, 255, 255);
    width: 71%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 518px;
  }
  .review-insider {
    background: rgb(255, 255, 255);
    width: 75%;
    height: 84%;
    display: flex;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }.font1{

    color: #000000;
    
    font-family: "Noto Sans";
  
  font-size: 1.08rem;
  font-style: normal;
  
  font-weight: 400;
  line-height: normal;
  }
  .review {
    background: wheat;
    height: 80%;
    width: 50%;
    border-radius: 21px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 22px 22px 22px 22px;
    flex: 0 0 auto;
  
    margin-right: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .txtt {
    font-size: medium;
    color: #757575;
    margin-bottom: 19px;
    margin-top: 20px;
    text-align: left;
    margin-left: 12px;
  }
  .phdetails {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
    color: #757575;
  }
  .phname {
    display: flex;
    width: 95%;
    gap: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 11px;
  }
  .foto {
    width: 70px;
    height: 70px;
  
    border-radius: 50%;
    background-image: url("man.jpg");
    background-size: cover;
    background-position: center;
  }
  .text-home1{
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1em;
    top: 50%;
    text-align: center;
    font-size: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    font-family: "Anton", sans-serif;
    font-family: "Comfortaa", sans-serif;
    font-family: "Crete Round", serif;
    font-family: "Dosis", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "PT Serif", serif;
    font-family: "Raleway", sans-serif;
    font-family: "Rowdies", sans-serif;
    font-family: "Teko", sans-serif;
    font-family: "Work Sans", sans-serif;

  }

  .text-home1 h3 {
    font-size: 60px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
  }
  /* styles updated */
  .nextsection-container{
    display: flex;
    flex-direction: column;
    gap: 0em;
    width: 100%;
    text-align: center;
    margin-bottom: 3em
  }
 /* new bottom css*/
 .homepageMainContainer {
  width: 100%;
  height: 10em;
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  box-sizing: content-box;
  gap: 9em;
}

.homepageLeftDiv {
  font-size: 2em;
  text-align: left;
margin-left: 3em;
  
}

.homepageRightDiv {
  flex-shrink: 0;
  display: flex;
  gap: 1.4em;
  align-items: center;
}
.homepageRightDiv img{
  width: 10em;
  height: 3em;
}

.homepagePartnerLogo {
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
}

/* Media queries for responsive design */
@media (max-width: 800px) {
  .homepageMainContainer{
    flex-direction: column;
  }
  .homepageLeftDiv{
    width: 100%;
    text-align: center;
    margin-top: 1.5em;
  }
  .homepageRightDiv img{
    width: 7em;
    height: 4em;

  }
 
}

@media (max-width: 480px) {
  .homepagePartnerLogo {
      width: 100%; 
  }
}
/* The new middle part css */
/* The new middle part css */
/* The new middle part css */
/* The new middle part css */
/* The new middle part css */
/* The new middle part css */
/* The new middle part css */

.new-middle-part{
    display: flex;
    flex-direction: column;
    padding: 1em 4em 1em 4em;
    
    height: 200vmax;
    background: rgb(255, 255, 255);
    margin-bottom: 10em;
    margin-top: 1em;
    width: 84%;
}
.new-v-div{
    width: 100%;
    display: flex;
    
    height: 27vmax;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.divtext-new{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20vmax;
    width: 50vmax;
   
}
.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-head-text{
   
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 10vmax;
    gap: 2em;
    margin-bottom: 3em;
}
.new-new-head-text{
   
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 10vmax;
    gap: 2em;
    margin-bottom: 8vmax;
}
.new-new-margin{
    margin-bottom: 8vmax;
}
.new-header {
    display: flex;
    min-height: 3vmax;
    min-width: 10vmax;
    padding: 0em 1.3em 0em 1.3em;
    background: #B0B8FF;
    color: #5044EB;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.new-text{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding-left: 3.4em;
}
.new-text-np{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.newer-new-text-np{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.7em;
}
.new-header-container{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}
.parent-font{
    

        color: #000;
      
      font-family: 'Noto Sans';
      font-size: 1.07rem;
      font-style: normal !important;
      
      font-weight: 400;
      line-height: normal;
      
}
.head-image{
    display: flex;
    justify-content: left;
    align-items: center;
    gap:2em;
    flex-direction: column;
    margin-bottom: 2em;

}
.hcon{
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}
.imagescon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.imagescon img{
    width: 27vmax;
    border-radius: 10px;

}
.new-text ul li {
    margin-bottom: 0.6em;
}
.container-new{
    max-height: 21vmax;
}
.newmargin{
margin-top: 2em;

}
.newer-margin{
    margin-top: 3em;
}



/* Styles for screens up to 400px */
@media (max-width: 400px) {
    .new-v-div {margin-bottom: 8em; 
        flex-direction: column;
    height: 40em;}
        .new-head-text{
            margin-bottom: 7em;
        }
        .new-new-head-text{
            margin-bottom: 16vmax;
        }
        .new-middle-part{
            margin-bottom: 21em;
        }

}

/* Styles for screens between 400px and 600px */
@media (min-width: 401px) and (max-width: 600px) {
    .new-v-div {margin-bottom: 8em; 
        flex-direction: column;
    height: 40em;}
        .new-head-text{
            margin-bottom: 7em;
        }
        .new-new-head-text{
            margin-bottom: 16vmax;
        }
        .new-middle-part{
            margin-bottom: 21em;
        }
    


}

/* Styles for screens between 600px and 800px */
@media (min-width: 601px) and (max-width: 800px) {
    .new-v-div {margin-bottom: 8em; 
        flex-direction: column;
    height: 40em;}
        .new-head-text{
            margin-bottom: 7em;
        }
        .new-new-head-text{
            margin-bottom: 16vmax;
        }
        .new-middle-part{
            margin-bottom: 21em;
        }
    
}

@media (min-width: 801px) and (max-width: 900px) {
    .new-v-div {margin-bottom: 8em; 
    flex-direction: column;
height: 40em;}
    .new-head-text{
        margin-bottom: 7em;
    }
    .new-new-head-text{
        margin-bottom: 16vmax;
    }
    .new-middle-part{
        margin-bottom: 21em;
    }
    
}

/* Styles for screens between 800px and 1000px */
@media (min-width: 901px) and (max-width: 1000px) {
    .new-v-div {margin-bottom: 8em; 
    flex-direction: column;
height: 40em;}
    .new-head-text{
        margin-bottom: 7em;
    }
    .new-new-head-text{
        margin-bottom: 16vmax;
    }
    .new-middle-part{
        margin-bottom: 21em;
    }
    
}

/* Styles for screens between 1000px and 1100px */
@media (min-width: 1001px) and (max-width: 1100px) {
    .new-v-div {margin-bottom: 8em; }
    .new-head-text{
        margin-bottom: 5em;
    }
    .new-new-head-text{
        margin-bottom: 16vmax;
    }
    .new-middle-part{
        margin-bottom: 37em;
    }
    
}

/* Styles for screens between 1100px and 1300px */
@media (min-width: 1101px) and (max-width: 1200px) {
    .new-v-div {margin-bottom: 3em; }
    .new-head-text{
        margin-bottom: 5em;
    }
    .new-new-head-text{
        margin-bottom: 12vmax;
    }
    .new-middle-part{
        margin-bottom: 19em;
    }
    
}

/* Styles for screens between 1300px and 1500px */
@media (min-width: 1201px) and (max-width: 1500px) {
    
}

/* Styles for screens above 1500px */
@media (min-width: 1501px) {
   
}
